In [3]:
library(tidyverse)

  name
1 1
2 2
3 3